

<!-- Button trigger modal -->


<!-- <button type="button" id="file-preview-modal-btn" class="btn btn-primary"  
    onclick="show_file_preview_modal(this)">
    Launch demo modal
  </button> -->
  
  <!-- Modal -->

  <div id="myModal" class="myModal" >

    <!-- Modal content -->
    <span class="close movable-content">&times;</span>
    <div class="modal-innercontent animated movable-content">    
      
      <div class="table-outer-wrap">
        <div class='table-container'>

          <div id="mover" class='movable'>
            
            <div class="help-text-title" style="margin-top: 1%;">
              Uploaded Data Preview</div>

            <p>Sowing only the first 100 rows.
              <br>When uploading excel files, the active sheet will be used</p>
            
          </div>

          <div class="container_col">
            <div class='file-preview-modal-content'>


              {% if rows %}
              <form id="data-preview-table" class="">
                <div class="divTable">
                  {% if headers %}
                  <div class="headRow">
                    {% for header in headers %}
                     <div id="resizeable-table-{{forloop.counter0}}" 
                          class="divCell resizable-table stylized-table-cell">
                          <p>{{header}}</p>
                          
                      </div>
                    {% endfor %}
                  </div>
                  {% endif %}
                
                
                {% for row in str_rows %}
                  {% if forloop.counter0 < 100 %} 
                  <div class="divRow">
                        {% for field, val in row.items %}
                          <div 
                          class="divCell resizable-table-vals-{{forloop.counter0}} stylized-table-cell">
                          <p>{{ val }}</p>
                          </div>
                        {% endfor %}
                  </div>
                  {% endif %}
                {% endfor %}
                 
                 
     
                </div>

            </form>
          {% endif %}
                

                
            </div>

            <div class='rightside-modal-space movable'>
            </div>

          </div>

          
          <div id="bottom-panel-modal" class='movable'>
            <button type="button" class="btn btn-secondary modal-button"
                onclick="file_preview_close(this)">Close</button>
            
              <form id="accept-uploaded-data-form" class="" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ uploaded_data_form_handler.accept_value }}
                  <button type="submit" class="btn btn-primary modal-button" 
                  onclick="confirm_data_upload(this)">Confirm Upload</button>

                                
              </form>
            
          </div>
      </div>

      


      </div>
    </div>
    
  
  </div>
 
              
        

  <!-- fix the headers using javascript, increase left value as horizental scroll -->
  <!-- fix X close button on window resize -->
  
  <script>
      // Get the modal
      var modal = document.getElementById("myModal");

      function show_file_preview_modal(e) {
      
        modal.style.display = "block";

        let modal_innercontent = document.querySelector(".modal-innercontent");
        let span_close = document.querySelector('span.close');

        setTimeout(() => {
          modal_innercontent.style['opacity'] = "1";
        }, 90);
        
        span_close.style.left =  modal_innercontent.offsetLeft +
        modal_innercontent.offsetWidth-35+'px';
        span_close.style.top =  modal_innercontent.offsetTop-60+'px';
    }

    let show_modal = "{{ show_modal }}"
    
    if (show_modal === 'true') {
      show_file_preview_modal(null);
    }


    function confirm_data_upload(clicked_btn) {
      let accepted_value_field = $('#id_accept_value' );
      accepted_value_field.val('true');
      
      modal.style.display = "none";
      
    }

    $("#accept-uploaded-data-form").submit(function (e) {
    // preventing from page reload and default actions
    e.preventDefault();
    // serialize the data for sending the form data.
    var serializedData = $(this).serialize();
    // make POST ajax call
    $.ajax({
        type: 'POST',
        url: "{% url 'project1:accept_uploaded_data' %}",
        data: serializedData,
        success: function (response) {
            
          // Response here can Contain the stringified changed data when
          // you implement the change datatype POST
            
            // 1. clear the form.
            $("#accept-uploaded-data-form").trigger('reset');

            console.log('\n response: ', response)
            // SUCCESS FEEDBACK

            $('.format-choices-wrap .tooltiptext').css("opacity", "1");


            setTimeout(function(){
                $('.format-choices-wrap .tooltiptext').css("opacity", "0");
            }, 2000);

            // console.log('\n >> : \n', response['status']);

            
            // ->  Manipulate DOM to show data
            // -> trigger the GET Request here if needed
            
            
        },

        error: function (response) {
            // alert the error if any error occured

            console.log('error occured! :\n', response);
            
        }
      })
  });
  </script>


  <script>
      $(document).ready(function() {
        $('.myModal .resizable-table').resizable({handles: 'e'});
        
      });
    

      var interval_arr = []
      $('.myModal .resizable-table').mousedown(function() {
        
        let clicked = this
        let header = this.id.slice(this.id.indexOf('resizeable-table-') + 
                    'resizeable-table-'.length);
        


        interval_arr.forEach(function(e) {
        clearInterval(e);
        
        });

        let interval = setInterval(function(){ 
          console.log(header);

          $('.myModal .resizable-table-vals-'+ header).css({ // affected element
                'width': ($('.myModal #resizeable-table-'+header).width() + 'px'),// desired width
                // 'height': ($('#data-preview-table tbody tr').height() + 'px')
                
                });                   
        }      
        , 1);       

        interval_arr.push(interval);

      });

      $('.myModal .resizable-table').mouseup(function() {
                
        setTimeout(function() {
          interval_arr.forEach(function(e) {
          clearInterval(e);
          
          });
        }, 100);

       

      });
      

      function file_preview_close(clicked) {
          interval_arr.forEach(function(e) {
          clearInterval(e);
          
          });

          modal.style.display = "none";
      }
      
  </script>


<script>
  
  window.onresize = function() {
    let modal = document.getElementById("myModal");

    if (modal.style.display ==="block"){
      let elmnt = document.querySelector(".modal-innercontent");
      let span_close = document.querySelector('span.close');
      span_close.style.left =  elmnt.offsetLeft +
      elmnt.offsetWidth-35+'px';
      span_close.style.top =  elmnt.offsetTop-60+'px';
      
      }
  }

  // Get the button that opens the modal
  var btn = document.getElementById("file-preview-modal-btn");
  
  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];
  
  // When the user clicks the button, open the modal 
  // btn.onclick = function() {
  //   modal.style.display = "block";
  //   let modal_innercontent = document.querySelector(".modal-innercontent");
  //   let span_close = document.querySelector('span.close');

  //   setTimeout(() => {
  //     modal_innercontent.style['opacity'] = "1";
  //   }, 90);
    
  //   span_close.style.left =  modal_innercontent.offsetLeft +
  //   modal_innercontent.offsetWidth-35+'px';
  //   span_close.style.top =  modal_innercontent.offsetTop-60+'px';
    
  // }
  
  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    let modal_innercontent = document.querySelector(".modal-innercontent");
    modal_innercontent.style['opacity'] = "0.1";
    setTimeout(() => {
     
      modal.style.display = "none";
    }, 100);
   
  }
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      // modal.style.display = "none";
    }
  }


  

  
  
  dragElement(document.querySelector(".modal-innercontent"));
  // dragElement(document.querySelectorAll(".movable-content"));
  
  
  function dragElement(elmnt) {
    var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
    if (document.querySelectorAll(".movable")) {
      // if present, the header is where you move the DIV from:
      console.log('if present, the header is where you move the DIV from:')
      let arr = document.querySelectorAll(".movable");
      arr.forEach(function(e) {
        e.onmousedown = dragMouseDown;
      });
      
      
    } else {
      // otherwise, move the DIV from anywhere inside the DIV:
      elmnt.onmousedown = dragMouseDown;
    }
  
    function dragMouseDown(e) {
      e = e || window.event;
      e.preventDefault();
      // get the mouse cursor position at startup:
      pos3 = e.clientX;
      pos4 = e.clientY;
      document.onmouseup = closeDragElement;
      // call a function whenever the cursor moves:
      document.onmousemove = elementDrag;
    }
  
    function elementDrag(e) {
      e = e || window.event;
      e.preventDefault();
      // calculate the new cursor position:
      pos1 = pos3 - e.clientX;
      pos2 = pos4 - e.clientY;
      pos3 = e.clientX;
      pos4 = e.clientY;
      // set the element's new position:
      elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
      elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";

      
      let span_close = document.querySelector('span.close');
      span_close.style.left =  elmnt.offsetLeft +
        document.querySelector(".modal-innercontent").offsetWidth-35+'px'
        ;
      span_close.style.top =  document.querySelector(".modal-innercontent").offsetTop-60+'px';
      
    }
  
    function closeDragElement() {
      // stop moving when mouse button is released:
      document.onmouseup = null;
      document.onmousemove = null;
    }
  }
  
  </script>
