{% extends "app1/base.html" %}

{% load static %}
{% static "csv_files/data2.csv" %}

{% block children %}

<div class="project-page-wrapper">
   
    <!-- <pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre> -->

    {{ BASE_DIR }}

    <p>{{ file_path }}</p>

    {% for json_row in debug_vars.json_string_dict %}
        
    {% endfor %}
    <p>{{ debug_vars.json_string_dict }}</p>
`   
    <div id="filtering">
        <button id="update-button">
            Update
        </button>
    </div>
    <div id='svg-container'></div>
  
</div>

<script>
    var received_data = '{{ debug_vars.json_string_dict|safe }}';
    var parsed_data = JSON.parse(received_data)
    //console.log(data);
    
    var file_path = ',,';

</script>

<script src="{% static 'app1/project1_javascript.js' %}"></script>

{% endblock children %}