{% extends "app1/base.html" %}

{% load static %}
{% static "csv_files/data2.csv" %}

{% block children %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'app1/jquery-ui-1.12.1.custom/jquery-ui.css' %}">
<script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


<script src="{% static 'app1/jquery-ui-1.12.1.custom/jquery-ui.js' %}"></script>


<div class="project-page-wrapper">

    <div class="file-uploader">
        <form id="data-file-uploader" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="uploaded_file" accept=".csv, .txt, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
            <input type="submit" name="submit" value="Upload" />
        </form>
        
    </div>
    
    <div class="file-viewer">
        <div class="file-contents">
            {% if uploaded_file %}
                {{ uploaded_file }}
            {% endif %}
            
            {% if headers %}
                {{ headers }}
            {% endif %}

            {% if rows %}
                {% for row in str_rows %}
                <div>{{ row }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <script src="{% static 'app1/ResizeSensor.js' %}"></script>
    <script src="{% static 'app1/ElementQueries.js' %}"></script>
    {% include 'project1/file_preview_modal.html' %}

</div>


<!-- <script>
    $("#data-file-uploader").submit(function (e) {
    // preventing from page reload and default actions
    e.preventDefault();
    // serialize the data for sending the form data.
    // var serializedData = $(this).serialize();
    // make POST ajax call
    $.ajax({
        type: 'POST',
        url: "{% url 'project1:data_file_upload' %}",
        data: this,
        success: function (response) {
            // on successfull creating object
            // 1. clear the form.
            // $("#username-update-form").trigger('reset');
            // // 2. focus to nickname input 
            // $("#id_username").focus();
            
            consol.log(response);
            //$('file-contents').html(response['data_json'])

            }
        , error: function(response) {
            console.log(response);
        }

    });

});

</script> -->



<script src="{% static 'app1/project1_javascript.js' %}"></script>


{% endblock children %}