#svg-container {
   padding-left: 10%;
}

/* .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
  } */

.bar {
    fill: rgb(70, 130, 180);
    
}

.myCircle:hover {
  stroke: black;
}


.tooltip {
  font-weight: bolder;
  fill: white;
  stroke: #000;
}


path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

/* .slidecontainer {
  margin-left: 10%;
}
.slider {
  background:white;
  -webkit-appearance: none;
  border: 1px solid  blue ;
} */

/*   slider styling   */
#slider-container {
  margin: 0 1% 0 10% ;
  width: 20%;
}

#slider-label-wrap {
  display: inline-flex; 
  width: 100%; 
  justify-content: space-between;
}
.ui-slider-range.ui-corner-all.ui-widget-header {
  background: #0084ff87;
}
.slider {
  margin: 1% 0;
  width: 100%;
}








